.main {
  display: flex;
  
  justify-content: center;
  
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.btn{
  width: 100px;
  height: 40px;
  margin: 50px;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: azure;
  color: rgb(63, 63, 63);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}